<table class='table'>
  <tbody>
    <% end_users.each do |end_user| %>
      <tr>
        <td>
          <% if end_user.profile_image %> 
            <%= image_tag end_user.get_profile_image, alt: "プロフィール画像", class: "rounded-circle my-2" , size: '50x50' %>
          <% else %>
            <%= image_tag "default-image.jpg", alt: "プロフィールのデフォルト画像", class: "rounded-circle", size: "50x50" %>
          <% end %>
        <td class="align-middle"><%= end_user.name %></td>
        <td class="align-middle text-center">
          <!-- ログインユーザーではない場合、フォローボタンを表示 -->
          <% if current_end_user != end_user %>
            <% if current_end_user.following?(end_user) %>
              <%= link_to "フォローをやめる", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-info btn-sm" %>
            <% else %>
              <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class: "btn btn-success btn-sm" %>
            <% end %>
          <% end %>
        </td>
        <td class="align-middle"><%= link_to '投稿を見る', end_user, class: 'btn btn-secondary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
