<div class="text-center mb-2">
  <% if end_user.profile_image %> 
    <%= image_tag end_user.get_profile_image, alt: "プロフィール画像", class: "rounded-circle" , size: '100x100' %>
  <% else %>
    <%= image_tag "default-image.jpg", alt: "プロフィールのデフォルト画像", class: "rounded-circle", size: "100x100" %>
  <% end %>
</div>

<table class="table info-table">
  <tr>
    <td>ユーザー名</td>
    <th><%= end_user.name %></th>
  </tr>
  <tr>
	<td>自己紹介</td>
  	<td class="small"><%= end_user.introduction %></td>
  </tr>
  <tr>
    <td>投稿数</td>
    <th><%= link_to end_user.posts.count, end_user_path(end_user) %></th>
  </tr>
  <tr>
    <td>フォロー中</td>
    <th><%= link_to end_user.followings.count, end_user_followings_path(end_user) %></th>
  </tr>
  <tr>
    <td>フォロワー</td>
    <th><%= link_to end_user.followers.count, end_user_followers_path(end_user) %></th>
  </tr>
</table>

<div class='table'>
  <% if current_end_user != end_user %>
    <td>
    <% if current_end_user != end_user %>
    <!-- 自分以外のページの場合は、フォローボタンを表示 -->
      <% if current_end_user.following?(end_user) %>
        <%= link_to "フォローをやめる", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-info btn-block" %>
      <% else %>
        <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class: "btn btn-success btn-block" %>
      <% end %>
    <% end %>
    </td>
  <% else %> 
  <!-- 自分のページの場合は、会員情報編集ボタンを表示 -->
    <%= link_to edit_end_user_path(end_user), class: "btn btn-outline-secondary btn-block edit_end_user_#{end_user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
  
  <!-- フォロワー同士なら、チャットを始める -->
  <% if current_end_user != end_user && current_end_user.following?(end_user) && end_user.following?(current_end_user) %>
    <%= link_to 'chatを始める', chat_path(end_user.id), class: "btn btn-outline-secondary btn-block mt-3" %>
  <% end %>
</div>

<div>
  <%= link_to "新規投稿", new_post_path, class: "btn btn-outline-success btn-block mb-3" %>
</div>
