<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <!-- エラーメッセージ -->
      <% if @end_user.errors.any? %>
        <%= @end_user.errors.count %>件の入力に誤りがあります！
        <ul>
          <% @end_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_with model:@end_user, local:true do |f| %>
        <div class="text-center mb-4">
          <% if @end_user.profile_image %> 
            <%= image_tag @end_user.get_profile_image, alt="現在のプロフィール画像", class: "rounded-circle" , size: '140x140' %>
          <% else %>
            <%= image_tag "default-image.jpg", alt="プロフィールのデフォルト画像", class: "rounded-circle", size: "140x140" %>
          <% end %>
        </div>
        <div class="mb-2">
          <b><%= f.label :プロフィール画像を変更する %></b>
          <%= f.file_field :profile_image, accept: 'image/*' %>
        </div>
        <div class="mb-2">
          <b><%= f.label :ユーザー名 %></b>
          <%= f.text_field :name, class: "form-control name" %>
        </div>
        <div class="mb-2">
          <b><%= f.label :自己紹介 %></b>
          <%= f.text_area :introduction, class: "form-control introduction", style: "height: 100px;" %>
        </div>
        <div>
          <b><%= f.label :メールアドレス %></b>
          <%= f.text_field :email, class: "form-control email" %>
        </div>
        <div class="right-button">
          <%= f.submit "登録情報を更新", class: 'btn btn-secondary btn-sm my-3' %>
        </div>
      <% end %>
  
      <div class="right-button">
        <%= link_to confirm_resign_path, class: 'btn btn-outline-secondary btn-sm mt-5' do %>
          <i class="fas fa-heart-broken"></i>退会する
        <% end %>
      </div>
      
    </div>
  </div>
</div>
