<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>ユーザー登録情報</h2>
    
      <%= form_with model:@end_user, local:true do |f| %>
        <div class="form-group">
          <%= f.label :現在のプロフィール画像 %><br>
            <% if @end_user.profile_image %> 
              <%= image_tag @end_user.get_profile_image, class: "rounded-circle mb-2" , size: '100x100' %>
            <% else %>  <!-- プロフィール画像が設定されていない場合-->
              <%= image_tag "default-image.jpg", class: "rounded-circle", size: "100x100" %>
            <% end %>
          <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
        </div>
        <div class="form-group">
          <%= f.label :ユーザー名 %>
          <%= f.text_field :name, class: "form-control name" %>
        </div>
  
        <div class="form-group">
          <%= f.label :自己紹介 %>
          <%= f.text_area :introduction, class: "form-control introduction" %>
        </div>
        <div>
          <%= f.label :メールアドレス %>
          <%= f.text_field :email, class: "form-control email" %>
        </div>
        <div class="form-group">
          <%= f.submit "登録情報を更新", class: 'btn btn-secondary mt-3' %>
        </div>
      <% end %>
  
      <%= link_to confirm_resign_path, class:'btn btn-outline-secondary btn-sm mb-3' do %>
        <i class="fas fa-heart-broken"></i>退会する
      <% end %>
    </div>
  </div>
</div>
