<div class="container">
  <div class="row">
    <% posts.each do |posts| %>
      <div class="shadow-sm p-3 m-1 bg-white rounded border border-2 text-center">
        <%= link_to post_path(posts), class: "text-dark" do %> 
          <!-- 投稿写真の１枚目のみを表示 -->
          <%= image_tag posts.post_images[0].variant(resize: '230x230'), class: "rounded" %><br>
          <%= truncate(posts.place_name, length: 10, omission: '...') %><br>
          
          <!-- ハッシュタグ -->
          <% posts.hashtags.each do |hashtag| %>
            <%= link_to "##{hashtag.hashname}","/post/hashtag/#{hashtag.hashname}" %>
          <% end %>
          
          <!-- いいねボタン -->
          <div class="favorite-btn">
            <% if posts.favorited_by?(current_end_user) %>
              <%= image_tag '709(1).jpg', size: '23x23' %>
              <%= posts.favorites.count %>
            <% else %>
              <%= image_tag '710(1).jpg', size: '23x23' %>
              <%= posts.favorites.count %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div> 