<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      
      <div class="text-center mb-3">
        <h3>投稿の編集</h3>
        <%= form_with model: @post, local:true do |f| %>
          <% @post.post_images.each do |image| %>
            <%= image_tag image.variant(resize: '240x240'), class: "rounded mt-2" %>
          <% end %>
      </div>
      
      <!-- エラーメッセージ -->
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件の入力に誤りがあります！
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
            
          <div class="mb-2">
            <b><%= f.label :投稿写真を変更する %></b><br>
            <%= f.file_field :post_images, direct_upload: true, multiple: true %>
          </div>
          <div class="mb-2">
            <b><%= f.label :タイトル %></b>
            <%= f.text_field :place_name, class: 'form-control book_title' %>
          </div>
          <div>
            <b><%= f.label :投稿内容 %></b>
            <!-- oninput イベントで、入力されたテキストの高さに応じて自動的に高さを調整 -->
            <%= f.text_area :caption, class: 'form-control book_body', rows: 4, oninput: "autoResize(this)" %>
            
            <!-- autoResize 関数 -->
            <script>
              function autoResize(textarea) {
                textarea.style.height = "auto";
                textarea.style.height = (textarea.scrollHeight + 2) + "px";
              }
            </script>
          </div>
          <div class="right-button mt-2">
            <%= f.submit "更新", class: 'btn btn-secondary' %>
          </div>
        <% end %>
    </div>
  </div>
</div>