<div class="class px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 m-2">
      <h3>投稿者の情報</h3>
      <%= render 'public/end_users/info', end_user: @end_user %>
    </div>
    <div class='col-md-8'>
      <h3>投稿詳細</h3>
      <% @post.post_images.each do |image| %>
        <%= image_tag image.variant(resize: '200x200') %>
      <% end %><br>
      
      投稿日：<%= @post.created_at.strftime("%Y/%m/%d") %>
      <p><%= @post.place_name %></p> 
      
      <p><%= @post.caption %></p>
      
      <% if @end_user == current_end_user %>
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-secondary" %>
        <%= link_to "削除", @post, method: :delete, data: { confirm: 'この投稿を削除してよろしいですか？' }, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>
</div>