<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/end_users/info', end_user: current_end_user %>
    </div>
    
    <div class='col-md-9'>
      <h3>自分がいいねした投稿一覧</h3>
      <div class="row">
        <% @favorite_posts.each do |favorite| %>
          <div class="shadow-sm p-3 m-1 bg-white rounded border border-2 d-flex flex-wrap">
            <%= link_to post_path(favorite.post) do %>
              <!--投稿写真の１枚目のみを表示-->
              <%= image_tag favorite.post.post_images[0].variant(resize: '230x230') %><br>
              
              <%= truncate(favorite.post.place_name, length: 15, omission: '...') %>
              
              <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= favorite.post.favorites.count %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>