<div class="class px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 ml-2">
      <h3>管理者情報</h3>
      <%= render 'admin/homes/info', end_users: @end_users, posts: @posts %>
    </div>
    
    <div class='col-md-8'>
      <h3><%= @post.end_user.name %>さんの投稿</h3>
      <div class="shadow-sm p-3 mb-5 bg-white rounded border border-2">
        <% @post.post_images.each do |image| %>
          <%= image_tag image.variant(resize: '200x200'), class: "rounded mt-2" %>
        <% end %><br>
        
        投稿日：<%= @post.created_at.strftime("%Y/%m/%d") %>
        
        <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i><%= @post.favorites.count %>

        <p>場所：<%= @post.place_name %></p> 

        <p><%= @post.caption %></p>
        
        <!-- %= link_to "非表示", admin_top_path, class: "btn btn-outline-secondary" %>-->
        <%= link_to "削除", admin_post_path(@post), method: :delete, data: { confirm: 'この投稿を削除してよろしいですか？' }, class: "btn btn-outline-danger" %>
      </div>
    </div>
    
    <%= render "public/post_comments/index", post: @post, end_user: @end_user %>
  </div>
</div>
