<table class="container-fluid">
  <tbody>
  <% post.post_comments.each do |post_comment| %>
  <tr class="border-top">
    <td>
      <%= link_to end_user_path(post_comment.end_user) do %>
        <% if post_comment.end_user.profile_image %> 
          <%= image_tag post_comment.end_user.get_profile_image, class: "rounded-circle my-2" , size: '50x50' %>
        <% else %>  <!-- プロフィール画像が設定されていない場合-->
          <%= image_tag "default-image.jpg", class: "rounded-circle", size: "50x50" %>
        <% end %>
      <% end %>
    </td>
    <td>
      <%= post_comment.comment %>
    </td>
    <td>
      <% if post_comment.end_user == current_end_user %>
        <%= link_to post_post_comment_path(post, post_comment), method: :delete do %>
          <i class="fa-solid fa-circle-xmark text-right" style="color: #E97777;"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>