<table class='table text-center'>
  <tbody>
    <% end_users.each do |end_user| %>
      <tr>
        <td>
          <% if end_user.profile_image %> 
            <%= image_tag end_user.get_profile_image, alt: "プロフィール画像", class: "rounded-circle my-2" , size: '50x50' %>
          <% else %>
            <%= image_tag "default-image.jpg", alt: "プロフィールのデフォルト画像", class: "rounded-circle", size: "50x50" %>
          <% end %>
        <td class="align-middle"><%= end_user.name %></td>
        <td class="align-middle">
          <%= end_user.user_status ? '退会済' : '利用中'  %><br>
            <% if end_user.user_status == false %>
              <%= link_to '退会にする', admin_end_user_path(end_user, end_user: { user_status: true }), method: :patch, data: { confirm: '本当に退会していいですか？' }, class: 'btn btn-danger btn-sm' %>
            <% else %>
              <%= link_to '有効にする', admin_end_user_path(end_user, end_user: { user_status: false }), method: :patch, class: 'btn btn-primary btn-sm' %>
            <% end %>
        </td>
        <td class="align-middle">
          投稿数：<%= end_user.posts.count %><br>
          <%= link_to '投稿を見る', admin_end_user_path(end_user), class: 'btn btn-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
