<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFE194;">
    <div class="container">
      <div class="row">
        <a class="navbar-brand" href="/"><%= image_tag 'cocodo.png', size: '75x50' %></a>

        <% if end_user_signed_in? %>
          <a class="navbar-brand text-dark mt-2" href="/"><span>ようこそ <%= current_end_user.name %>さん！</span></a>
        <% elsif admin_signed_in? %>
          <a class="navbar-brand text-dark mt-2" href="/"><span>管理者ログイン中</span></a>
        <% else %>
          <a class="navbar-brand text-dark mt-2" href="/"><span>ココドウへ、ようこそ！</span></a>
        <% end %>
      </div>
      
      <!--ハンバーガーメニュー-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="col content-right ml-auto">
        <div class="collapse navbar-collapse small" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!-- 会員ログイン時 -->
            <% if end_user_signed_in? %>
              <li class="nav-item">
                <%= link_to end_users_path, class: 'nav-link text-dark' do %>
                  <%= image_tag 'ic024.png', size: '45x45' %>みんなの投稿
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to index_favorites_path, class: 'nav-link text-dark' do %>
                  <%= image_tag 'ic050.png', size: '45x45' %>人気スポット
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to end_user_path(current_end_user), class: 'nav-link text-dark' do %>
                  <%= image_tag 'ic013.png', size: '45x45' %>マイページ
                <% end %>
              </li>
              <li class="nav-item">
              <%= link_to post_index_my_favorite_path(current_end_user), class: 'nav-link text-dark' do %>
                <%= image_tag '709.png', size: '45x45' %>いいねした投稿
              <% end %>
              </li>
              <li class="nav-item">
              <%= link_to destroy_end_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <%= image_tag '602.png', size: '45x45' %>ログアウト
              <% end %>
              </li>
            <!-- 管理者ログイン時 -->
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_top_path, class: 'nav-link text-dark' do %>
                  <%= image_tag 'ic024.png', size: '45x45' %>投稿一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_end_users_path, class: 'nav-link text-dark' do %>
                  <%= image_tag '888.png', size: '45x45' %>会員一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <%= image_tag '602.png', size: '45x45' %>ログアウト
                <% end %>
              </li>
            <!-- ログイン前 -->
            <% else %>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link text-dark' do %>
                  <%= image_tag '1194.png', size: '45x45' %>ホーム
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to index_favorites_path, class: 'nav-link text-dark' do %>
                  <%= image_tag 'ic050.png', size: '45x45' %>人気スポット
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to about_path, class: 'nav-link text-dark' do %>
                  <%= image_tag '614.png', size: '45x45' %>ココドウとは
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_end_user_registration_path, class: 'nav-link text-dark' do %>
                  <%= image_tag '530.png', size: '45x45' %>新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_end_user_session_path, class: 'nav-link text-dark' do %>
                  <%= image_tag '601.png', size: '45x45' %>ログイン
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        
        <!-- 検索フォーム（ログイン中のみ表示）-->
        <div class="col text-right ml-auto">
          <% if end_user_signed_in? %>
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.text_field :keyword, value: @keyword, placeholder: '検索ワードを入力' %>
              <%= f.submit "検索", class: "btn btn-secondary btn-sm mb-1" %>
            <% end %>
          <% elsif admin_signed_in? %>
            <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
              <%= f.text_field :keyword, value: @keyword, placeholder: '検索ワードを入力' %>
              <%= f.submit "検索", class: "btn btn-secondary btn-sm mb-1" %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </nav>
</header>
