<!DOCTYPE html>
<html>
  <head>
    <title>Cocodo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- KItCodeを使用して、FontAwesomeを導入 -->
    <script src="https://kit.fontawesome.com/820a726bf9.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </main>
    
    <footer class="text-center mt-3" style="background-color: #B8DFD8;">
      cocodo
    </footer>
  </body>
</html>
